/* Asterisk wild card selector to override default styles applied by the browser */
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic styles */
    color: #404040;
}

/* Header */
header {background-color:#61A5CA;
}

/* Main content */
main {
background-color: #ED992A;
/* This forces the main element to take up any spare space to push the footer down */
flex: 1 0 auto;
}

/* Footer */
footer {
    background-color:#404040;
}