/* Asterisk wild card selector to overide default styles applied by the browser */
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

/* Header */
header {background-color:#61A5CA;
}

/* Main content */
main {
background-color: #ED992A;
}

/* Footer */
footer {
    background-color:#404040;
}