/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Asterisk wild card selector to override default styles applied by the browser */
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic styles */
    color: #404040;
    font-family: 'Karla', sans-serif;
    margin: 0;
}

/* Header */
header {background-color: #CBF7FF;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #404040;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration:dashed;
    color: #000000;
}

h1 {
    font-family: 'Merriweather', sans-serif;
    text-transform: capitalize;
    letter-spacing: normal;
}

#menu {
    font-size: medium;
    letter-spacing: normal;
    list-style-type: none;
}

/* Navbar style and put a dropdown toggle */
nav {
    position: absolute;
    background-color: #CBF7FF;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 3px 3px #404040;
    display: none;
    top: 100%;
}

/* Navbar toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

navigation-toggle-label {
    font-size: medium;
}

/* Main content */
main {
/* Margin-top adjusted for the fixed header */
margin-top: 120px;
display: flex;
flex-direction: column;
}

.hero-image img {
    width: 100%;
    height: auto;
    display: block;
}

.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust margin as needed */
}

/* Image styles */
.centered-image img {
    max-width: 100%; 
    height: auto;
    max-height: 80vh; 
    width: auto; 
}


.additional-information {
    margin-bottom: 80px; 
	}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#FFFFFF;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px -2x 5px
}

* Hide the  checkbox */
.disclaimer-toggle {
    display: block;
}


.disclaimer-label {
    cursor: pointer;
    background-color: #CBF7FF; /* Replace with your desired color */
    padding: 5px;
    margin: 0;
}

/* Hides the disclaimer content by default */
.disclaimer-content {
    display: none;
}

/* Show the disclaimer content when the checkbox is clicked on */
.disclaimer-toggle:checked ~ .disclaimer-content {
    display: block;
}

/* Media queries: tablets and larger screens, 768px and above */
@media screen and (min-width: 768px) {
    height: 600px;
    
}
nav {
    display: block;
    position: relative; 
    background-color: transparent;
    width: auto;
    box-shadow: none;
  }

  #nav-toggle {
    display: none; /* Hide checkbox for larger screens */
  }
  
centered-image {
    margin-top: 40px; 
    max-height: 50vh;
}

